.hero-height {
  /* maxHeight: 65vh; */
  height: 70rem;
}


/* default item styles  */
.carousel-inner > .carousel- {
  opacity: 0;
  transform: scale(1);
  transition: opacity 4s linear, transform 10s linear;
  display: block;
  position: absolute;
  width: 100%;
}

/* active item styles  */
.carousel-inner > .carousel-active {
  opacity: 1;
  transform: scale(1.1);
}
