.publish-bg {
  background-image: 
 
    url('../assets/publish-1.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  /* min-height: 38vh; */
  /* display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center; */
  color: #fff;
}
