.publish-bg {
  background-image: linear-gradient(
      rgba(0, 0, 255, 0.5),
      rgba(255, 255, 0, 0.5)
    ),
    url('../assets/sister1.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
  min-height: 38vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  color: #fff;
}
