.bg-main {
  background-color: #023c5c;
}

.nav-bar-bg {
  background-color: #c1b7b0;
}

.text-maroon {
  color: #980606;
  font-family: Roboto;
  font-weight: 400;
}

a {
  text-decoration: none;
  color: #fff;
}

.font-paragraph, p{
  /* font-family: 'Montserrat', sans-serif; */
  font-family: 'Merriweather', serif;
  /* font-family: 'Roboto Serif', sans-serif; */
  line-height: 1.5rem;
}

.font-header,h1,h2,h3,h4,h5{  
/* font-family: 'Roboto Serif', sans-serif; */
font-family: 'Abhaya Libre', serif;
letter-spacing: 0.1rem;
font-weight: 600;

}
